<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Codentia.Common.Data.dll" version="4.0.0-dev-20151015210336" targetFramework="net45" />
  <package id="Codentia.Common.Helper.dll" version="2.0.0-dev-20151015190952" targetFramework="net45" />
  <package id="Codentia.Common.Logging.dll" version="3.0.0-dev-20151016124652" targetFramework="net45" />
  <package id="Codentia.Common.Net.dll" version="2.0.0-dev-20151016215353" targetFramework="net45" />
  <package id="Codentia.Common.Types.dll" version="2.0.0-dev-20151015203406" targetFramework="net45" />
</packages>